{% extends 'main/base.html' %} <!-- Выводит базовый html (верхняя, базовая часть сайта) -->
{% block content %}  <!-- ШАБЛОННЫЙ ТЕГ for content -->
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col-12">   <!-- кнопка Создать студента -->
                <a href="{% url 'main:customer_create' %}" class="btn btn-primary m-2">Создать клиента</a>
            </div>
            {% for object in object_list %}
                {% if user.is_authenticated and object.created_by == user or user.is_superuser %}
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h5 class="my-0 fw-normal">{{ object.name }}</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title pricing-card-title">{{ object.email }}</h6>

                                <ul class="list-unstyled mt-3 mb-4">
                                    <li class="card-title pricing-card-title">{{ object.message }}</li>
                                </ul>
                                <p><a class="btn btn-secondary" href="{% url 'main:customer_view' object.pk %}">Посмотреть
                                    &raquo;</a></p>
                                <p><a class="btn btn-warning" href="{% url 'main:customer_update' object.pk %}">Изменить
                                    &raquo;</a></p>
                                <p><a class="btn btn-danger" href="{% url 'main:customer_delete' object.pk %}">Удалить
                                    &raquo;</a></p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}   <!-- закрытие ШАБЛОННЫЙ ТЕГ for content -->