{% extends 'main/base.html' %} <!-- Выводит базовый html (верхняя, базовая часть сайта) -->

{% block content %}  <!-- ШАБЛОННЫЙ ТЕГ for content -->
    {#    {% for object in object_list %}#}
    <!-- ШАБЛОННЫЙ ТЕГ for, цикл по студентам из ключа views.py context object_list -->
    {#        {% include 'main/includes/inc_sending_card.html' %} <!-- выводит подшаблон inc_student_card.html -->#}
    <div class="row gy-5">
        <h5> Сервис рассылки сообщений</h5>
    </div>
    {#    {% endfor %}   <!-- закрытие цикла for -->#}
{% endblock %}   <!-- закрытие ШАБЛОННЫЙ ТЕГ for content -->