{% extends 'main/base.html' %} <!-- Выводит базовый html (верхняя, базовая часть сайта) -->

{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success"
                           value="{% if object %}Сохранить{% else %} Создать {% endif %}">
                </form>
            </div>
            <div class="card-footer">
                <a href="{% url 'main:message_list' %}" class="btn btn-primary"><< Назад</a>
            </div>
        </div>
    </div>
{% endblock %}   <!-- закрытие ШАБЛОННЫЙ ТЕГ for content -->